In [ ]:
# File location and type
file_location = "/FileStore/tables/bloodbankinventoty-4.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

In [ ]:

temp_table_name = "bloodbankinventoty"

df.createOrReplaceTempView(temp_table_name)

In [ ]:
%sql

/* Query the created temp table in a SQL cell */


SELECT bloodbankinventoty._c2 FROM bloodbankinventoty WHERE bloodbankinventoty._c1 =='O+'

In [ ]:
# With this registered as a temp view, it will only be available to this particular notebook. If you'd like other users to be able to query this table, you can also create a table from the DataFrame.
# Once saved, this table will persist across cluster restarts as well as allow various users across different notebooks to query this data.
# To do so, choose your table name and uncomment the bottom line.

permanent_table_name = "bloodbankinventoty_spark"

df.write.format("parquet").saveAsTable(permanent_table_name)

In [ ]:
print(fulldata.show())

In [ ]:
df = spark.sql("SELECT bloodbankinventoty_spark._c2 FROM bloodbankinventoty_spark WHERE bloodbankinventoty_spark._c1 =='O+'")